@page "/bookings/delete"
@using BookMyHome.Application.DTO
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Booking</h2>
    <hr />
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CheckIn</dt>
            <dd class="col-sm-10">@booking.CheckIn</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CheckOut</dt>
            <dd class="col-sm-10">@booking.CheckOut</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@booking.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">GuestAmount</dt>
            <dd class="col-sm-10">@booking.GuestAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SpecialRequests</dt>
            <dd class="col-sm-10">@booking.SpecialRequests</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">AccommodationId</dt>
            <dd class="col-sm-10">@booking.AccommodationId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">GuestId</dt>
            <dd class="col-sm-10">@booking.GuestId</dd>
        </dl>
        <EditForm method="post" Model="booking" OnValidSubmit="DeleteBooking" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(booking is null)">Delete</button> |
            <a href="/bookings">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BookingDTO booking;

    [SupplyParameterFromQuery]
    private int BookingId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // using var context = DbFactory.CreateDbContext();
        // booking = await context.Bookings.FirstOrDefaultAsync(m => m.BookingId == BookingId);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteBooking()
    {
        // using var context = DbFactory.CreateDbContext();
        // context.Bookings.Remove(booking!);
        // await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookings");
    }
}
